- name: Install dependencies
  apt:
    name={{ item }}
    state=present
    update_cache=yes
    cache_valid_time=3600
  with_items:
    - supervisor
  become: yes

- name: Create {{ directory }} directory
  file: path={{ directory }} state=directory
  become: yes
  
- name: Installing task {{ name }}
  template: src=task.conf.j2 dest={{ supervisor_config_dir }}/{{ name }}.conf
  become: yes
  when: 'state == "present"'

- name: Removing task {{ name }}
  file: path={{ supervisor_config_dir }}/{{ name }}.conf state=absent
  become: yes
  when: 'state == "absent"'

- name: Ensure supervisord is started
  service: name=supervisor state=started enabled=yes
  become: yes

- name: Update supervisor
  command: "{{ supervisorctl_command }} update"
  become: yes

- name: Restart task {{ name }}
  command: "{{ supervisorctl_command }} restart {{ name }}:*"
  when: 'restart_task and state == "present"'
  become: yes

- name: Send restart signal to task {{ name }}
  shell: "kill -s {{ restart_signal }} `cat {{ restart_pidfile }}`"
  when: 'restart_signal and restart_pidfile and state == "present"'
  become: yes

- name: configure main supervisor
  template: src=supervisord.conf.j2 dest={{ supervisor_dir }}/supervisord.conf
  tags: supervisor
  become: yes    
    
#TODO use https://github.com/Supervisor/initscripts for all architectures
- name: Copy the supervisord init script
  copy: src=supervisord-{{ ansible_distribution }}-{{ ansible_architecture }}.sh dest=/etc/init.d/supervisord mode=0755
  when: supervisor_gui_enabled   
  tags: configure
  become: yes   

- name: Start the supervisord service
  service: name=supervisord state=started enabled=true
  when: supervisor_gui_enabled   
  tags: service  

- debug: msg="See GUI at http://{{ inventory_hostname }}:{{ supervisor_inet_http_server }}/"
  when: supervisor_gui_enabled 
